---
import "../styles/global.css";
---

<layout>
  <div class="lost">
    <div class="gif">
      <img width="300" height="259" alt="404-not-found" src="/404.svg" />
    </div>
    <p class="lost__body">
      It seems like you've wandered into the wrong forest!
    </p>
    <p>
      <a class="lost__link" href="/">Return Home</a>
    </p>
  </div>
</layout>
