---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Milan Kharel";
---

<Layout pageTitle={pageTitle}>
  <div class="gif">
    <img width="250" height="250" alt="Profile Image" src="/profile.png" />
  </div>
  <h1>Milan Kharel</h1>
  <span class="badge">Fullstack Developer</span>
  <h2>About</h2>
  <p>
    I'm Milan Kharel, a passionate software engineer and technology enthusiast
    originally from Nepal. My journey in the realm of software development is
    driven by a deep-seated curiosity and a commitment to creating impactful
    solutions. Through my GitHub repository
    (https://milankharel.com.np/khrlmln), I showcase a diverse portfolio of
    projects that highlight my proficiency in web development, software
    engineering, and beyond. Whether it's architecting scalable backend systems,
    crafting intuitive user interfaces, or exploring emerging technologies, I
    thrive on pushing the boundaries of what's possible in the digital
    landscape.
  </p>
  <p>
    I am dedicated to continuous learning and growth, constantly refining my
    skills in web development. Beyond technical prowess, I am passionate about
    leveraging technology to address real-world challenges and improve user
    experiences. I believe in the power of collaboration and open-source
    development to drive innovation forward. I'm always eager to connect with
    like-minded individuals and teams to embark on new and exciting projects
    that make a difference.
  </p>
  <div class="center">
    <a href="/works/">
      <button class="btn">My portfolio</button>
    </a>
  </div>
  <h2>Skills</h2>
  <div class="skills center">
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="HTML"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="CSS"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="JavaScript"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Tailwindcss"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="TypeScript"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="React"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Next.js"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Git"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Python"
      src="https://raw.githubusercontent.com/devicons/devicon/refs/tags/v2.16.0/icons/python/python-original.svg"
    />
  </div>
  <h2>Interests</h2>
  <p>
    My interests revolve around exploring the ever-evolving landscape of
    technology and software development. I am particularly passionate about web
    development, where I enjoy creating responsive and user-friendly interfaces
    that enhance the digital experience. Delving into the intricacies of backend
    systems is another area that captivates me, as I relish the challenge of
    architecting robust and scalable solutions.
  </p>
  <p>
    Beyond coding, I am deeply invested in continuously expanding my knowledge
    base. Outside of work, I enjoy exploring new hobbies and connecting with
    like-minded individuals who share my passion for leveraging technology to
    solve meaningful problems.
  </p>
</Layout>
